<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	
</head>
<body>
	<div th:replace="fragments/input :: head"></div>
	<p style="color: green">Hello [[${user}]]!</p>
		<form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <span><a th:href="/user">User List</a></span>
        <p th:replace="fragments/input :: script"></p>
</body>
</html>