<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
      
    </head>
    <body>
        <div th:replace="fragments/input :: head"></div>
        <p>[[${message}]]</p>
        <p style="color: blue">Login Page</p>
        <div th:if="${param.error}">
            Invalid username or password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div th:replace="fragments/input :: log"></div>
        <a th:href="@{/registration}">Registration</a>
        <p th:replace="fragments/input :: script"></p>
        </body>

</html>