<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
	<meta charset="UTF-8">
	<title >Main</title>
	
</head>
<body >
	<div th:replace="fragments/input :: head"></div>
	<div>

		<p style="color: blue" align="center"> <a th:href="@{/user/home}">Go To Home page</a>
			<a th:href="@{/user/profile}">Profile</a></p>
	</div>
	<p th:utext="${messa}"></p>

 						 <form action="#" th:action="@{/filtere}" method="post">
                        	<input type="text" name="filter"/>
                        	<button type="submit">Найти</button>
                        </form>
                       
                                           
   <div th:switch="${messages}" class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h2 th:case="null">No users yet!</h2>
                    <div th:case="*">
                      
                        <h2 class="my-5">Messages</h2>
                        <table class="table table-striped table-responsive-md" border=1px>
                            <thead>
                                <tr>
                                	<th>id</th>
                                    <th>Name</th>
                                    <th>Tag</th>
                                  	<th>Author</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="message : ${messages}">
                                    <td th:text="${message.id}"></td>
                                    <td th:text="${message.text}"></td>
                                    <td th:text="${message.tag}"></td>
                                   	<td th:text="${message.authorName}"></td>
                                   	<div th:if="${message.filename}">
                                   	
                              				 <img th:src="@{/img/{val}  (val = ${message.filename})}" alt="nima (" />
                              			 
                                   	</div>
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                    <p class="my-5"><a href="/sign" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i>add</a></p>
                </div>
            </div>
        </div>
	  
	<div th:replace="fragments/input :: script"></div>
</body>
</html>
