<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>User List</title>
	
</head>
<body>
	<div th:replace="fragments/input :: head"></div>
	<p style="color: blue">User List</p>
	  <table class="table table-striped table-responsive-md" border=1px>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.username}"></td>
                                    <div th:each="rol : ${#strings.listSplit(user.roles,',')}">	
                                    	<td th:text="${rol}"></td>
                                  	</div>
                                  	<td><a th:href="@{/user/{id} (id=${user.id})}">Edit</a></td>
                                </tr>
                            </tbody>
                        </table>
	<p th:replace="fragments/input :: script"></p>
</body>
</html>