<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>User Edit Page</title>
	
</head>
<body>
	<div th:replace="fragments/input :: head"></div>
	<form action="#" th:action="@{/user/update/{id} (id=${user.id})}" th:object="${user}" method="post">
		<input type="hidden" th:field="*{id}" name="userId">
		<input type="text" name="username" th:field="*{username}">
		<div th:each="role : ${roles} "> 	
			<label>
			 <input type="checkbox" th:name="${role}">[[${role}]]</label>
		</div>
		<button type="submit">Save</button>
	</form>
	<p th:replace="fragments/input :: script"></p>
</body>
</html>